.page-footer {
    background-color: rgb(41, 41, 41) !important;
    color: white;
}

.footerHeader > span {
    /* border-left: 1px solid white; */
    margin-right: 0.5rem;
    /* padding-left: 0.8rem; */
}

.socialMediaIcon {
    font-size: 2rem;
    padding: 1rem;
}

.appStoreImg {
    height: 2.2rem;
}

.copyRight {
    font-size: 0.9rem;
}
