.html {
    font-weight: 600 !important;
}

.navbar {
    background-color: #0b77e3 !important;
    height: 4rem;
    position: sticky;
    top: 0px;
}

.navbar-collapse {
    background-color: #0b77e3 !important;
    width: 100%;
    z-index: 3;
}

.navbar-toggler {
    border: none !important;
}

.navbar-brand > a {
    font-size: 1.9rem;
    font-weight: 500;
    color: white !important;
}

.navbar-brand:hover {
    border-bottom: 2px solid #0be3b1;
}

.logInBtn {
    color: white !important;
    font-weight: 500 !important;
}

.logInBtn:hover {
    border-bottom: 2px solid #0be3b1;
}

.trialBtn {
    background-color: rgb(52, 52, 52);
    font-weight: 500 !important;
    color: white !important;
    width: 11rem;
}

.trialBtn:hover {
    border-bottom: 1px solid #0be3b1;
}

.navIntro {
    font-size: 1.3rem;
    color: white;
    font-weight: 500;
    padding: 0.7rem;
    background-color: rgb(52, 52, 52);
}

a {
    text-decoration: none;
}

.nav-link > a {
    text-decoration: none;
    color: white;
}
