.homePageBody {
    min-height: 60vh;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 60vh;
    overflow: hidden;
}

.hideImg {
    display: inline-block;
}

.banner {
    position: relative;
}

.cta {
    position: absolute;
    top: 20vh;
    left: 25vw;
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
}

@media only screen and (max-width: 780px) {
    /* body {
        background-color: lightblue;
    } */
    .hideImg {
        display: none;
    }

    .cta {
        position: static;
        width: 100%;
        border-radius: 0;
        background-color: rgb(54, 97, 162);
    }

    /* .mainImg {
        width: 100%;
    } */
}
