.genreCard {
    width: 10rem;
    position: relative;
}
.genreInnerCard {
    background-color: rgb(28, 28, 28);
    height: 16rem;
}

.genreImg {
    width: 5rem;
}

.genreText {
    position: absolute;
    top: 5.7rem;
    left: 1.2rem;
    color: white;
}
